@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Hello Wolrd */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  background-image: linear-gradient(to bottom, #BD34FE, #9269FE, #44CEFF, #9269FE);
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;
  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Counter button */
button#counter {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button#counter:hover {
  border-color: #646cff;
}
button#counter:focus,
button#counter:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button#counter {
    background-color: #f9f9f9;
  }
}

/* Animated button */
button#btn {
  background-color: #00db8f;
  color: #ffffff;

  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  border-radius: 50px;
  background-color: #45CCFF;
  cursor: pointer;

  border-top: 2px solid #6B6B6B;
  border-left: 2px solid #6B6B6B;
  border-bottom: 2px solid #272222;
  border-right: 2px solid #272222;

  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

button#btn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8ce0ff;
  z-index: -1;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
}

button#btn:hover {
  color: #ececec;
  background: #27c5ff;
}
button#btn:active:after {
  width: 110%;
}

button#btn:active {
  border-bottom: 2px solid #6B6B6B;
  border-right: 2px solid #6B6B6B;
  border-top: 2px solid #272222;
  border-left: 2px solid #272222;

  color: #ffffff;
  background-color: #45CCFF;
}

